version: "3.5"
services:
  api:
    build:
      context: ./api
      dockerfile: ../api.dockerfile
    depends_on:
      db:
        condition: service_healthy
    environment:
      WEBUI_URL: http://localhost
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: db
      DB_PORT: 5432
      DB_SCHEMA: postgres
      SYSTEM_EMAIL: ${SYSTEM_EMAIL}
      SENDGRID_API_KEY: ${SENDGRID_API_KEY}
      AUTH_SERVICE: FIREBASE
      FIREBASE_API_KEY: ${FIREBASE_API_KEY}
      FIREBASE_CRED: /key/firebase_credentials.json
      FIREBASE_AUTH_EMULATOR_HOST: firebase:9099 # use firebase auth emulator
      SYSTEM_API_KEY: ${SYSTEM_API_KEY}
    labels:
      - traefik.http.routers.api.entrypoints=http
      - traefik.http.routers.api.priority=10
      - traefik.http.routers.api.rule=PathPrefix(`/api`)
      - traefik.http.routers.api.service=api
      - traefik.http.routers.api.middlewares=api@docker
      - traefik.http.middlewares.api.stripPrefix.prefixes=/api
      - traefik.http.services.api.loadBalancer.server.port=80
    restart: always
    volumes:
      - ./api/app:/app:ro
      - ./api/app/alembic:/app/alembic:rw # for 'alembic revision --autogenerate'
      - ./key:/key:ro
  db:
    image: postgres:17.6
    command:
      - postgres
      # - -c
      # - log_connections=on
      - -c
      - log_destination=stderr
      # - -c
      # - log_disconnections=on
      - -c
      - log_statement=all
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    restart: always
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -U ${DB_USER}
      interval: 10s
      timeout: 5s
      retries: 2
    volumes:
      - ./data:/var/lib/postgresql/data
  traefik:
    image: traefik:v3.6.9
    depends_on:
      - api
      - web
    ports:
      - 80:80
      - 8080:8080
    restart: always
    volumes:
      - ./traefik:/etc/traefik
      - /var/run/docker.sock:/var/run/docker.sock
  web:
    build:
      context: ./web
      dockerfile: ../web.dockerfile
    labels:
      - traefik.http.routers.web.entrypoints=http
      - traefik.http.routers.web.priority=1
      - traefik.http.routers.web.rule=PathPrefix(`/`)
    restart: always
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
  firebase:
    build: ./firebase
    ports:
      - 4000:4000 # Emulator Suite UI
      - 9099:9099 # Auth
    volumes:
      - ./firebase:/opt/workspace
    working_dir: /opt/workspace
    command: "firebase emulators:start --import=./data --export-on-exit"
    tty: true
    restart: always
