#recaptcha-container-visible-login {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

#recaptcha-container-visible-login iframe {
  width: 304px !important;
  height: 78px !important;
}
