[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-playwright = "*"
requests = "*"
types-requests = "*"

[dev-packages]
black = "*"
ruff = "*"
mypy = "*"

[requires]
python_version = "3.12"
