[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
fastapi = "*"
firebase-admin = "*"
psycopg2 = "*"
protobuf = "<7.0"
pydantic = "*"
python-multipart = "*"
requests = "*"
slack-sdk = "*"
hypercorn = "*"
sqlalchemy = "*"
univers = "*"
packageurl-python = "*"
email-validator = "*"
pillow = "*"
supabase = "*"
deprecation = "*"
cyclonedx-python-lib = {extras = ["validation"], version = "*"}
sendgrid = "*"
cryptography = "*"

[dev-packages]
mypy = "*"
mypy-extensions = "*"
pytest = "*"
pytest-cov = "*"
types-requests = "*"
httpx = "*"
ruff = "*"
black = "*"
httpretty = "*"
pytest-mock = "*"
codespell = "*"

[requires]
python_version = "3.12"
