[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
fastapi = "*"
firebase-admin = "*"
passlib = {extras = ["bcrypt"], version = "*"}
psycopg2 = "*"
protobuf = "<4.0"
pydantic = "*"
python-multipart = "*"
requests = "*"
slack-sdk = "*"
uvicorn = "*"
sqlalchemy = "*"
univers = "*"
packageurl-python = "*"

[dev-packages]
mypy = "*"
mypy-extensions = "*"
pytest = "*"
pytest-cov = "*"
types-requests = "*"
httpx = "*"
ruff = "*"
black = "*"
httpretty = "*"
pytest-mock = "*"

[requires]
python_version = "3.10"
