name: e2etest

on:
  schedule:
    - cron: "30 14 * * 1-5" # weekday
  workflow_dispatch:

env:
  DB_USER: postgres
  DB_PASSWORD: postgres
  FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY }}
  SYSTEM_API_KEY: secret_api_key
jobs:
  e2etest:
    name: Run e2etests
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: actions/checkout@v5
      - name: Extract service account credentials
        run: |
          envsubst < ./key/.subst > ./key/firebase_credentials.json
        env:
          FIREBASE_CREDENTIALS_JSON: ${{ secrets.FIREBASE_CREDENTIALS_JSON }}
      - name: Extract firebaserc
        run: |
          envsubst < ./firebase/.subst > ./firebase/.firebaserc
        env:
          FIREBASERC: ${{ secrets.FIREBASERC }}
      - name: react build
        run: npm ci && npm run build
        working-directory: ./web
        env:
          VITE_API_BASE_URL: "http://traefik/api"
          VITE_FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY }}
          VITE_FIREBASE_APP_ID: ${{ secrets.VITE_FIREBASE_APP_ID }}
          VITE_FIREBASE_AUTH_DOMAIN: ${{ secrets.VITE_FIREBASE_AUTH_DOMAIN }}
          VITE_FIREBASE_MEASUREMENT_ID: ${{ secrets.VITE_FIREBASE_MEASUREMENT_ID }}
          VITE_FIREBASE_MESSAGING_SENDER_ID: ${{ secrets.VITE_FIREBASE_MESSAGING_SENDER_ID }}
          VITE_FIREBASE_PROJECT_ID: ${{ secrets.VITE_FIREBASE_PROJECT_ID }}
          VITE_FIREBASE_STORAGE_BUCKET: ${{ secrets.VITE_FIREBASE_STORAGE_BUCKET }}
          VITE_FIREBASE_AUTH_EMULATOR_URL: "http://testfirebase:9099"
          VITE_METEMCYBER_AUTH_URL: "http://testfirebase:9099"
          VITE_PUBLIC_URL: ""
          VITE_AUTH_SERVICE: "firebase"
      - name: docker compose build
        run: docker compose -f docker-compose-e2e.yml build
      - name: migrate db
        run: docker compose -f docker-compose-e2e.yml run --rm api sh -c "cd app && alembic upgrade head"
      - name: e2etest
        run: docker compose -f docker-compose-e2e.yml run --rm e2eclient pytest -s e2etests/test_e2e.py
      - name: docker compose down
        run: docker compose -f docker-compose-e2e.yml down -v
